body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto auto 1fr;
    grid-gap: 0.5em 1em;
    grid-template-areas: "header header" "nav nav" "section section" "aside aside" "footer footer";
  
}

@media screen and (min-width:600px) {
    body{
        grid-template-areas: "header header" "nav nav" "section aside" "footer footer";
        grid-gap: 1em 2em;
        
    }
    
    
}

header{
    grid-area: header;
}

nav{
    background-color: #4B3725;
    grid-area: nav;
}
section{
    background-color: #5E4C40;
    grid-area: section;
}
article{
    background-color: #5E4C40;
    grid-area: article;
}

aside{
    background-color: #5E4C40;
    grid-area: aside;

}

footer{
    background-color: #4B3725;
    grid-area: footer;
}

.send, .from, .to{
    padding: 2%;
    margin: 0 auto; /* why is this needed?*/
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 300px;
  }

aside h2{
    text-align: center;
}

form p{
    padding-right: 10px;
}